<div class='main'>
  <%= link_to 'レシピ一覧', menus_path, method: :get, class: 'index-recipe-btn' %>
  <%= link_to 'レシピ作成', new_menu_path, method: :get, class: 'create-recipe-btn' %>
  <%= link_to '食材管理', stocks_path, method: :get, class: 'stock-btn' %>
</div>